.submitbtn {
    border: none;
    outline: none;
    background-color: #fbf9ff;
    color: white;
    margin: 0.2rem;
    padding: 10px;
    background-color: rgb(103, 79, 220);
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(71, 0, 112, 0.3);
    cursor: pointer;
    padding: 15px 50px;
    font-weight: 600;
}

.submitbtn:hover {
    background-color: rgb(93, 71, 201);
    color: white;
    font-weight: 600;
}
