
header {
    padding: 1rem 2rem;

}

main {
        padding: 1rem 2rem;

}

.nav-links {

    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;

.link a {
text-decoration: none;


&:hover {
    background-color: gray;
    border-radius: 2px;
}
}
}